@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --main-color: #e84242;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
  font-family: "Poppins", sans-serif;
}
/* base html codes */
html {
  font-size: 62.5%;
  overflow: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);

}
/* header */
.header .logo img {
  height: 10rem;
}
.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;

}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
}
.header .navbar .active,
.header .navbar a:hover {
border-color: var(--main-color);
 padding-bottom: 0.5rem; /* geçiş efekti yavaşlığı */
}
.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}